.summary {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 1em;
}

.icon {
    width: 1em;
    height: 1em;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.stats {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    height: 1.4em;
    overflow: hidden;
    transition: var(--transition-default);
    transition-property: height;
}
.compact .stats {
    height: 0;
}
