.container {
    padding: 0.5rem 0 0 0;
    display: flex;
    justify-content: center;
}

.icon {
    position: absolute;
    opacity: 0;
    transition: var(--transition-default);
    transition-property: opacity;
}
.icon.selected {
    opacity: 1;
}
.icon img {
    width: 5rem;
    height: 5rem;
    height: auto;
    border-radius: var(--border-radius);
}
.level {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 0.9rem;
    line-height: 2rem;
    background-color: var(--background-default);
    border: 1px solid var(--border-default);
    border-radius: var(--border-radius);
    color: var(--background-default);
    text-shadow: 1px 1px 2px var(--text-color-default), -1px -1px 2px var(--text-color-default);
}
.primaryToggle {
    position: absolute;
    z-index: 1;
    bottom: 0.6rem;
    left: -0.75rem;
    background-color: var(--background-default);
    border-radius: 50%;
    color: var(--background-default);
    opacity: 0;
    transition: var(--transition-default);
    transition-property: opacity, background-color;
}
.primaryToggle.isPrimary {
    background-color: transparent;
    opacity: 1;
}

.container:hover .primaryToggle, .container:hover .primaryToggle.isPrimary {
    background-color: var(--background-default);
    opacity: 1;
}
.name {
    padding-top: 6rem;
}
.icon .name {
    padding-top: 0;
    font-size: 0.75rem;
    color: var(--text-color-secondary);
}