.container {
    display: inline-flex;
    flex-direction: row;
}
.iconWrapper {
    width: 48px;
    height: 48px;
    margin-right: 0.6em;
}
.icon {
    background-repeat: no-repeat;
}
.title {
    color: var(--text-color-secondary);
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.compact .iconWrapper {
    width: 32px;
    height: 32px;
    margin-right: 0.4em;
}
.compact .icon {
    transform: scale(0.666666);
    transform-origin: 0 0;
}
.compact .title {
    display: none;
}