.container {
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    max-width: 100%;
}
.iconWrapper {
    width: 48px;
    height: 48px;
    margin-right: 0.6em;
    transition: var(--transition-default);
    transition-property: width, height, margin-right;
}
.icon {
    background-repeat: no-repeat;
    transform-origin: 0 0;
    transition: var(--transition-default);
    transition-property: transform;
}
.title {
    color: var(--text-color-secondary);
    height: 1.4em;
    transition: var(--transition-default);
    transition-property: height;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}


.compact .iconWrapper {
    width: 32px;
    height: 32px;
    margin-right: 0.4em;
}
.compact .icon {
    transform: scale(0.666666);
}
.compact .title {
    height: 0;
}